@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: rgba(232, 245, 133, 0.1);
}


/*---------------------------------------------Text--*/
.general-sub {
  font-family: 'Archivo Black', sans-serif;
  color: #F9F9F9;
}

.navbar-brand {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;

}


/*---------------------------------------------Nav--*/

/* .navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
} */

.navbar {
  height: 90px;
  /* margin-bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60); */
}


.nav-link {
  color: #C0C0C0;
  font-weight: 600;
  position: relative;
}

.nav-link:hover,
.nav-link:active {
  color: #000000;
}

@media (min-width: 900px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 0;
    height: 2px;
    background-color: #EE4328;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active:before {
    width: 90%;
    visibility: visible;
  }
}

/*---------------------------------------------alert--*/
.navalert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.site-wide-alert {
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 15px;
}

/*---------------------------------------------Footer--*/



footer {
  background-color: #3c3b3b;
  color: #F9F9F9;
  min-height: 60px;
  margin: 0%;
  position: absolute;
}

.footer-band {
  text-decoration: none;
  margin: 20px;
  position: relative;
  top: 50px;
}

.social-links {
  padding: 20px;
}


.social-links li a i {
  width: 40px;
  height: 40px;
  padding: 20px 0;
  border-radius: 50%;
  font-size: 25px;
  line-height: 3px;
  text-align: center;
  color: #F9F9F9;
  background-color: #C0C0C0;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;

}

.social-links li a i:hover {
  background: #EE4328;
  visibility: visible;
}

/*index.html*/
/*---------------------------------------------callout--*/

.callout-container {
  height: 100vh;

  /*--credit: full size background code taken from https://css-tricks.com/perfect-full-page-background-image/--*/

  background: url("../images/background2.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  position: relative;
}

.callout {
  background-color: rgba(249, 249, 249, 0.7);

}

.callout-header {
  color: #494848;
  font-weight: bolder;
  margin-bottom: 30px;
}

.callout p {
  font-weight: 400;
  color: #8d8607;
}

/*-credit: .opaque-overlay code come from the lesson Bootstrap: Updating the Callout--*/
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-3 {
  z-index: 1;
}

/*---------------------------------------------Button--*/
/*-credit: btn code come from the lesson Bootstrap: Updating the Callout and edit slightly to fit project needs--*/
.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn--red {
  color: rgb(227, 227, 227);
  background-color: #EE4328;
  border-color: #EE4328;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
  background-color: #c6442f;
  border-color: #c6442f;
}

/*---------------------------------------------Features--*/

.features-container {
  margin-top: 50px;
  margin-bottom: 70px;

}

.feature h3,
.feature p,
.feature i {
  display: block;
  text-align: center;
  color: #b67b0d;
}



/*---------------------------------------------Map--*/
.map-box {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 3rem 1rem;
  background-color: #e6dfc84d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.map {
  overflow: hidden;

}

/*---------------------------------------------Member--*/

.members img {
  width: 90%;
  height: auto;
}

.member-img {
  max-width: 10.5rem;
  max-height: 20rem;
}

.member-img img {
  border-radius: 50%;
}

.member {
  max-width: 25rem;
  max-height: 20rem;
}

.members-container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.members-container h2 {
  color: #c6a364;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
}

/* about.html */
.description p {
  padding: 3rem 2rem;
  text-align: center;
  font-size: 23px;
}

/*---------------------------------------------about--*/
.about-container {
  width: 80%;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.about {}

.about h1 {
  font-weight: bold;
}


.about p {
  padding: 2rem 0 0;
}

.about img {
  width: 100%;
}

/*---------------------------------------------facilities--*/
.facilities-container {
  width: 80%;
  margin: 0 auto 7%;
  text-align: center;
  padding-top: 5rem;
}

.facilities-container h1 {
  font-weight: bold;
  margin-bottom: 3rem;
}

.facilities {
  border-radius: 10px;
  margin-bottom: 10%;
  text-align: center;
}

.facilities img {
  width: 100%;
  border-radius: 15px;
  margin-top: 1.5rem;
}

.facilities h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
}


.facilities p {
  padding: 0;

}


/*---------------------------------------------membership plan--*/

.plan-container {
  margin-top: 5%;
}

.plan-container h1 {
  font-weight: bold;
  margin-bottom: 5%;
}

.plan {
  background: #f0cd4f;
  margin-bottom: 2rem;
  padding: 1.7rem 1rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.plan h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.plan ul {
  list-style: none;
}

.plan:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*join.html*/
/*---------------------------------------------form--*/



.join-us-container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-title {
  margin: 2rem auto;
  text-align: center;
  font-weight: bold;
}



.form-background img {
  max-width: 100%;
  padding: 9rem 0;
}

@media (max-width: 990px) {
  .form-background img {display: none;}
}

.form-content {
  padding: 1rem 0;
}

legend {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin: 10px 0;
}

input,
textarea {
  margin: 10px 0 10px;
  width: 100%;
  min-height: 2em;
}

.inline-items {
  width: unset;
  margin: 0 1rem 0 0;
  vertical-align: middle;
}

textarea {
  height: 5em;
}